body  {
    display: flex;
    align-items: center;
    justify-content: center;
}


#calculator  {
    border: 2px solid rgb(104, 103, 102);
    width: 400px;
    height: 583px;  
    border-radius: 10px;  
}

#cal-in  {
    height: 575px;
    width: 392px;
    border: 2px solid black;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    border-radius: 10px;
}

#box  {
    height: 100px;
    width: 380px;
    border: 1px solid black;
    margin-left: 5px;
    margin-left: 5px;
    margin-top: 10px;
    border-radius: 10px;
    font-size: x-large;
    justify-content: center;
    align-items: center;
}

#num-sec  {
    border: 1px solid black;
    width: 380px;
    height: 455px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 4px;
    margin-bottom: 4px;
    border-radius: 10px;
    border: 2px solid transparent;

}

#row-1  {
    display: flex;
}

#one  {
    width: 120px;
    height: 70px;
    border: 1px solid black;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 5px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
}

#two  {
    width: 120px;
    height: 70px;
    border: 1px solid black;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 5px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
}

#three  {
    width: 120px;
    height: 70px;
    border: 1px solid black;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 5px;
    border-radius: 10px; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
}

#row-2  {
    display: flex;    
}

#four  {
    width: 120px;
    height: 70px;
    border: 1px solid black;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 5px;
    border-radius: 10px; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
}

#five  {
    width: 120px;
    height: 70px;
    border: 1px solid black;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 5px;
    border-radius: 10px; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
}

#six  {
    width: 120px;
    height: 70px;
    border: 1px solid black;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 5px;
    border-radius: 10px; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
}

#row3  {
    display: flex;
}

#seven  {
    width: 120px;
    height: 70px;
    border: 1px solid black;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 5px;
    border-radius: 10px; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
}

#eight  {
    width: 120px;
    height: 70px;
    border: 1px solid black;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 5px;
    border-radius: 10px; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
}

#nine  {
    width: 120px;
    height: 70px;
    border: 1px solid black;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 5px;
    border-radius: 10px; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
}

#row-4  {
    display: flex;
}

#ten  {
    width: 120px;
    height: 70px;
    border: 1px solid black;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 5px;
    border-radius: 10px; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
}

#eleven  {
    width: 120px;
    height: 70px;
    border: 1px solid black;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 5px;
    border-radius: 10px; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
}

#twelve  {
    width: 120px;
    height: 70px;
    border: 1px solid black;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 5px;
    border-radius: 10px; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
}

#row-5  {
    display: flex;
}

#thirteen  {
    width: 120px;
    height: 70px;
    border: 1px solid black;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 5px;
    border-radius: 10px; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
}

#fourteen  {
    width: 120px;
    height: 70px;
    border: 1px solid black;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 5px;
    border-radius: 10px; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
}

#fifteen  {
    width: 120px;
    height: 70px;
    border: 1px solid black;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 5px;
    border-radius: 10px; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
}

#row-6  {
    display: flex;
    align-items: center;
    justify-content: center;
}

#sixteen  {
    width: 120px;
    height: 70px;
    border: 1px solid black;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 5px;
    border-radius: 10px; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
}

#seventeen  {
    width: 120px;
    height: 70px;
    border: 1px solid black;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 5px;
    border-radius: 10px; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;

}









